<div class="container">
  <div class="row">
    <h4 class="mx-auto my-5 col-12 col-xl-3 pl-5">新規会員登録</h4>
  </div>

<div class="text-center my-3">
<%= form_with model: @member, url: member_registration_path do |f| %>
  <div class="field form-group col-xs-9">
    <%= f.label :"ニックネーム", class: "col-sm-3" %>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "current-password", class: "col-sm-4" %>
  </div>

  <div class="field form-group col-xs-9">
    <%= f.label :"メールアドレス", class: "col-sm-3" %>
    <%= f.email_field :email, autocomplete: "email", class: "col-sm-4" %>
  </div>

  <div class="field form-group col-xs-9">
    <%= f.label :"パスワード(6文字以上)", class: "col-sm-3" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-4" %>
  </div>

  <div class="field form-group col-xs-9">
    <%= f.label :"パスワード確認", class: "col-sm-3" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-4" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success px-5" %>
  </div>
<% end %>
</div>
</div>

