<div class="container">
  <div class="text-center">

  <%= search_form_for @q, url: tasks_path do |f| %>
    <div class="form-group my-5">
      <%= f.date_field :created_at_gteq,
                        include_blank: true %><span>〜</span>

      <%= f.date_field :created_at_lteq_end_of_day,
                        include_blank: true %>
      <%= f.submit %>
    </div>
  <% end %>
  </div>
  
<h3>みんなのタスク</h3>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <th>タスク</th>
    </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.member.nickname %></td>
      <td><%= link_to task.content, task_path(task.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>

