<div class="container">
<h3>タスク詳細</h3>
<table class="table">
  <tr>
    <td>
      <% @task.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </td>
    <td><%= @task.content %></td>
    <td><%= @task.memo %></td>
    <td>
      <div id="favorite_buttons_<%= @task.id %>">
        <%= render "public/favorites/favorites", task: @task %>
      </div>
    </td>
    <td>コメント件数：<%= @task.comments.count %></td>
    <% if @task.member == current_member %>
      <td><%= link_to 'Edit', edit_task_path(@task.id), class: "btn btn-sm btn-success" %></td>
      <td><%= link_to 'Destroy', @task, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
    <% end %>
  </tr>
</table>

<div id="comments">
  <%= render "public/comments/comments", task: @task %>
</div>
<% unless @task.member == current_member %>
<div id="comments_area">
  <%= render "public/comments/form", task: @task, comment: @comment %>
</div>
<% end %>
</div>

